python-dotenv
requests==2.31.0
pandas
pyarrow
datetime
openmeteo-requests
requests-cache
retry-requests
joblib
scikit-learn
xgboost
git+https://github.com/phi-friday/airflow-serde-polars.git
urllib3<2.0.0